<?xml version="1.0"?>

<launch>

  <!-- load model into parameter server -->

    <param name="robot_description" command="$(find xacro)/xacro '$(find gnc_description)/urdf/gnc_robot.xacro'"/>
    
    
    <!-- coordinates to spawn model -->

    <arg name="x" default="2"/>
    <arg name="y" default="-1"/>
    <arg name="z" default="2"/>

    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model rover -x $(arg x) -y $(arg y) -z $(arg z)"/>

    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /-->

    <include file="$(find gnc_control)/launch/gnc_control_simulation.launch"/>
    <include file="$(find gnc_localization)/launch/gnc_local_ekf.launch"/>
    <include file="$(find gnc_localization)/launch/gnc_global_ekf.launch"/>
    <include file="$(find gnc_mapping)/launch/gnc_rtabmap.launch"/>

</launch>