<launch>
    <!-- Node for imu_filter_madgwick -->
    <node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
        <!-- Set the parameters for the IMU filter -->
	<param name="mag_bias_x" type="double" value = "0.0" />
	<param name="mag_bias_y" type="double" value = "0.0" />
	<param name="mag_bias_z" type="double" value = "0.0" />

        <param name="use_mag" value="true"/>
	<param name="use_magnetic_field_msg" value="true"/>

        <param name="world_frame" value="enu"/> <!-- or "ned" or "nwu" -->

        <!-- Remap the IMU and magnetometer topics -->
        <remap from="imu/data_raw" to="/zed2/zed_node/imu/data_raw"/>
        <remap from="imu/mag" to="/zed2/zed_node/imu/mag"/>

        <!-- Additional parameters can be set here -->
    </node>
</launch>
