<launch>
    <!-- EKF Node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam file="$(find gnc_localization)/launch/ekf_config.yaml"/>
    </node>

    <!-- NavSat Transform Node -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform">
        <rosparam file="$(find gnc_localization)/launch/navsat_params.yaml"/>
    </node>
</launch>

