<launch>
 
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/zed2/zed_node/left/image_rect_color"/>
      <remap from="depth/image"     to="/zed2/zed_node/depth/depth_registered"/>
      <remap from="rgb/camera_info" to="/zed2/zed_node/left/camera_info"/>
      <remap from="rgbd_image"      to="/zed2/zed_node/rgbd_image"/> <!-- output -->
      
      <param name="approx_sync"       value="false"/> 
    </node>


    <!-- Node to launch RTAB-Map -->
    <node name="rtabmap" pkg="rtabmap_slam" args="--delete_db_on_start" type="rtabmap" output="screen">
        <!-- Common parameters -->
	<param name="frame_id" value="base_link"/>
  	<param name="map_frame_id" value="odom"/> 
		
	<param name="subscribe_depth" value="false"/>
        <param name="subscribe_rgbd" value="true"/>
        <param name="subscribe_scan" value="false"/>
	<param name="publish_tf" value="false"/>
        <param name="grid_size" type="double" value="50"/>

        <!-- RTAB-Map specific parameters -->
        <param name="RGBD/LinearUpdate" value="0.0"/>
        <param name="RGBD/AngularUpdate" value="0.0"/>
	<param name="Rtabmap/DetectionRate" value="5"/>

	<param name="Grid/NormalsSegmentation" value="true"/>
	<param name="Grid/MinGroundHeight" value="0"/>
	<param name="Grid/ClusterRadius" value="0.1"/>
	<param name="Grid/MinClusterSize" value="10"/>
	<param name="Grid/GridGlobal" value="3"/>
        <param name="GridGlobal/MinSize" value="100"/>

        <param name="Rtabmap/TimeThr" type="string" value="700"/>
 	<param name="Kp/WordsPerImage" type="string" value="200"/>
 	<param name="Kp/RoiRatios" type="string" value="0.03 0.03 0.04 0.04"/>
	<param name="Kp/DetectorStrategy" type="string" value="0"/>
	<param name="Kp/NNStrategy" type="string" value="1"/>
	<param name="SURF/HessianThreshold" type="string" value="1000"/>
	<param name="LccBow/MinInliers" type="string" value="10"/>
	<param name="LccBow/EstimationType" type="string" value="1"/>
	<param name="LccReextract/Activated" type="string" value="true"/>
	<param name="LccReextract/MaxWords" type="string" value="500"/>
	<param name="LccReextract/MaxDepth" type="string" value="10"/>
        <param name="RGBD/OptimizeMaxError" type="string" value="0"/>
	
	<param name="Grid/RangeMin" value="0.2"/>
	
        <!-- Remapping ZED camera topics -->
	<remap from="rgbd_image" to="/zed2/zed_node/rgbd_image"/>

        <!-- Remapping ZED odometry topic -->
	<remap from="odom" to="/zed2/zed_node/odom"/>
	<remap from="/gps/fix" to="/dont/use/gps"/>
        <!-- Additional parameters for ZED -->
        <param name="visual_odometry" value="false"/> <!-- Use T265 odometry -->
</node>
</launch>

