<launch>
 
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/zed2/zed_node/rgb/image_rect_color"/>
      <remap from="depth/image"     to="/zed2/zed_node/depth/depth_registered"/>
      <remap from="rgb/camera_info" to="/zed2/zed_node/rgb/camera_info"/>
      <remap from="rgbd_image"      to="/zed2/zed_node/rgbd_image"/> <!-- output -->
      
      <param name="approx_sync"       value="true"/> 
    </node>


    <!-- Node to launch RTAB-Map -->
    <node name="rtabmap" pkg="rtabmap_slam" args="-d" type="rtabmap" output="screen">
        <!-- Common parameters -->
	<param name="frame_id" value="base_link"/>
	
	<param name="subscribe_depth" value="false"/>
        <param name="subscribe_rgbd" value="true"/>
        <param name="subscribe_scan" value="false"/>
	<param name="publish_tf" value="false"/>

        <!-- RTAB-Map specific parameters -->
        <param name="RGBD/LinearUpdate" value="0.01"/>
        <param name="RGBD/AngularUpdate" value="0.01"/>
	<param name="Rtabmap/DetectionRate" value="5"/>

	<param name="Grid/MinGroundHeight" value="0"/>
	<param name="Grid/ClusterRadius" value="5"/>
	<param name="Grid/GridGlobal" value="1.5"/>
	
	<param name="Grid/RangeMin" value="0.2"/>
	
        <!-- Remapping ZED camera topics -->
	<remap from="rgbd_image" to="/zed2/zed_node/rgbd_image"/>

        <!-- Remapping ZED odometry topic -->
        <remap from="odom" to="/zed2/zed_node/odom"/>

        <!-- Additional parameters for ZED -->
        <param name="visual_odometry" value="false"/> <!-- Use T265 odometry -->
    </node>
</launch>

