<launch>
    <remap from="map" to="/proj_map"/>
    <!-- Node for move_base -->
    <node name="empty_costmap_publisher" pkg="gnc_planner" type="empty_costmap_publisher.py" output="screen" />
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <!-- Load the global and local costmap parameters -->
        <rosparam file="$(find gnc_planner)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find gnc_planner)/config/move_base_params.yaml" command="load" />
	<rosparam file="$(find gnc_planner)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find gnc_planner)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find gnc_planner)/config/base_local_planner_params.yaml" command="load" />

	<!-- Load other move_base parameters -->

	<remap from="/cmd_vel" to="/gnc_robot/gnc_drive_velocity_controller/cmd_vel"/>
	<remap from="/odom" to="/zed2/zed_node/odom"/>
    </node>
</launch>

