
<launch>
	<include file="$(find gnc_description)/launch/gnc_description.launch"/>
	<include file="$(find gnc_control)/launch/gnc_control_hardware.launch"/>
	<include file="$(find gnc_localization)/launch/gnc_global_ekf.launch"/>
	<include file="$(find gnc_localization)/launch/gnc_local_ekf.launch"/>
</launch>