<?xml version="1.0"?>

<launch>
    <!-- robot_description is used by nodes that publish to joint_states. -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find gnc_description)/urdf/gnc_robot.xacro"/>
    <!-- Read joint positions from joint_states, then publish the vehicle's
         state to tf. -->
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<!--
	<node pkg="tf" type="static_transform_publisher" name="odom_link_broadcaster" args="0 0 0 0 0 0 1 odom base_link 20" />
-->
    <node pkg="tf" type="static_transform_publisher" name="world_link_broadcaster" args="0 0 0 0 0 0 1 world map 20" />
    
    <node pkg="tf" type="static_transform_publisher" name="footprint_link_broadcaster" args="0 0 0 0 0 0 1 base_link base_footprint 20" />
    
    <!-- 
    <node pkg="protobot_description" type="odom_to_tf_node" name="odom_to_tf_node">
    	<remap from="camera/odom/sample" to="track_cam/odom/sample"/>
    </node>
    -->
</launch>
